<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./static/index.css">
</head>

<body>
    <style>
        body {

            background-color: red;

        }

        table {

            width: 200px;

        }
    </style>
    <table>
        <tr>
            <th>Cantidad</th>
            <th>Item</th>
            <th>Precio</th>
        </tr>

        {{#each products}}
        <tr>
            <td>{{this.cuantity}}</td>
            <td>{{this.name}}</td>
            <td>{{this.price}}</td>
        </tr>
        {{/each}}
    </table>
</body>

</html>